jupyter
jupyterlite-core
jupyterlite-pyodide-kernel
jupyterlite-xeus-sqlite
jupyterlab-night
jupyterlab_miami_nights
ipykernel
ipywidgets
ipyevents
ipympl
ipycanvas
ipyleaflet
numpy
pandas
scipy
statsmodels
xlrd
sqlalchemy
duckdb
requests
pydantic
pyyaml
matplotlib
seaborn
altair
plotly
bqplot
plotnine
bokeh
dask
networkx
geopandas
cartopy
ruff
pytest
black
mypy
click
beautifulsoup4
tqdm
ftfy
streamlit
