jupyter
ipykernel
ipywidgets
numpy
pandas
scipy
statsmodels
xlrd
sqlalchemy
psycopg2-binary
duckdb
requests
pydantic
pyyaml
matplotlib
seaborn
altair
plotly
plotnine
bokeh
dask
networkx
geopandas
cartopy
ruff
pytest
black
mypy
click
beautifulsoup4
tqdm
ftfy
streamlit
